*{margin:0;padding:0;} /* Documento CSS */

body{ /* Corpo do documento */
background-color:#ffffff;
}
#loader { /* Icone loading page */
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 30px;
  height: 30px;
  margin:-40px 0 0 -12px;
  border: 5px solid #f2f2f2;
  border-radius: 50%;
  border-top: 5px solid #008ae6;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin { /* Icone loading page */
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin { /* Icone loading page */
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom { /* Icone loading page */
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 0.2s;
  animation-name: animatebottom;
  animation-duration: 0.2s
}

@-webkit-keyframes animatebottom { /* Icone loading page */
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { /* Icone loading page */
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#blue-animate { /* Icone loading page */
  display: none;
  text-align: center;
}

#text-session{ /* Texto referente a sessão iniciada em algum dos perfis de acesso*/	
color:#666699;
font-family:'TW Cen MT Condensed';
font-size:18px;	
font-weight:bold;
text-align:center;
}

#text-exit{ /* Texto referente a saida da aplicação "Sair" */
text-decoration:none;	
color:#e60000;
font-size:18px;
font-weight:bold;	
transition: color ease 0.7s;
}
	
#text-exit:hover{ /* Texto referente a saida da aplicação "Sair" */
color:#0099cc;	
}

#Blue-logo{ /* Container Blue School logo*/
background-image:linear-gradient(to right, #008ae6, #008ae6, #008ae6,#0099ff,#0099ff,#1aa3ff,#1aa3ff);	
padding:5px;
}

#Blue-icon-logo{ /* Icone Blue School */
margin-top:-20px;
cursor:pointer;
}

#Blue-text-logo{ /* Texto referente a logo Blue School*/
cursor:pointer;	
font-family:'Gill Sans MT Condensed';
font-size:30px;	
font-weight:bold;
color:#ffffff;	
text-align:center;
}

#Blue-logo-bottom{ /* Container Blue School rodapé*/
background-color:#ffffff;
margin:auto;
width:100%;
bottom:0;
position:fixed;
}

#Blue-link-bottom{ /* Container links rodapé */
background-color:transparent;	
text-align:center;
padding:15px;	
color:#008ae6;	
cursor:pointer;
margin-left:1%;
margin-right:1%;
border-radius:10px;
font-size:18px;
font-weight:bold;
font-family:'TW Cen MT Condensed';	
transition:color ease 0.7s;
}

#Blue-link-bottom:hover{  /* Container links rodapé */
background-image:linear-gradient(to right, #008ae6, #008ae6, #008ae6,#0099ff,#0099ff,#1aa3ff,#1aa3ff);	
color:#ffffff;
}

#perfil-blue{ /* Container caracteristico de cada perfil Blue School */
padding:15px;
background-color:#ffffff;	
text-align:center;
border-radius:10px;
color:#008ae6;
cursor:pointer;
margin-top:2%;
margin-left:1%;
margin-right:1%;
border:2px solid #008ae6;
font-size:18px;
font-weight:bold;
font-family:'TW Cen MT Condensed';	
transition:color ease 0.7s;
}

#perfil-blue:hover{ /* Container caracteristico de cada perfil Blue School */
background-image:linear-gradient(to right, #008ae6, #008ae6, #008ae6,#0099ff,#0099ff,#1aa3ff,#1aa3ff);
color:#ffffff;
}	

#blue-alert-login{ /* Referente aos texto de "credenciais invalidas e sessão encerrada"  */
font-family:'TW Cen MT Condensed';
color:#e60000;
font-size:18px;
text-align:center;	
}

#blue-table-cdst{ /* Container que carregas os formularios de login, cadastro e edição */
max-width:100%;	
}

#blue-title-table-cdst{ /* Titulo de cada input dos formularios de login, cadastro e edição */
padding:10px;	
background-color:#f2f2f2;	
font-family:Tw Cen MT Condensed;
font-size:18px;
color:#666699;
text-align:center;
}

#blue-table-input{ /* Table que contém os inputs dos formularios de login, cadastro e edição */
background-color:transparent;	
}

#blue-input-cdst{ /* Inputs dos formularios de login, cadastro e edição */
width:100%;	
background-color:transparent;
outline:none;
color:#666699;
text-align:center;
border:1px solid;
border-top-color:transparent;
border-left-color:transparent;
border-right-color:transparent;
border-bottom-color:#b3b3cc;
}

#blue-btn-cdst{ /* Botão dos formularios de login, cadastro e edição */
width:25%;
color:#008ae6;
outline:none;
background-color:transparent;
border:1px solid #008ae6;
border-radius:5px;
font-size:18px;
font-family:Tw Cen MT Condensed;	
transition: color ease 0.7s;
}


#blue-btn-cdst:hover{ /* Botão dos formularios de login, cadastro e edição */
background-image:linear-gradient(to right, #008ae6, #008ae6, #008ae6,#0099ff,#0099ff,#1aa3ff,#1aa3ff);	
color:#ffffff;	
}

#painel-restrito{ /* Container de acesso restrito */
background-color:#ffffff;
border-radius:10px;
}


#blue-painel-restrito{ /* Container que armazena as caixas de escolha do painel restrito*/
background-color:transparent;
}

#blue-box-restrito{ /* Caixas de escolha do painel restrito */
cursor:pointer;
padding:5px;
margin:10px;	
color:#008ae6;
border:2px solid #008ae6;		
text-align:center;
font-weight:bold;
font-size:18px;
font-family:'TW Cen MT Condensed';	
border-radius:10px;
transition:color ease 0.7s;
}

#blue-box-restrito:hover{ /* Caixas de escolha do painel restrito */
background-image:linear-gradient(to right, #008ae6, #008ae6, #008ae6,#0099ff,#0099ff,#1aa3ff,#1aa3ff);
color:#ffffff;	
}

#blue-text-separador{ /*Caixa texto separadora de sessões dos paineis de acesso restrito*/
background-color:#f2f2f2;
color:#666699;	
padding:10px;
font-weight:bold;
font-size:18px;
font-family:TW Cen MT Condensed;	
border-radius:10px;
text-align:center;
}

#cdst-sucess{ /* Referente a mensagem de "Cadastrado com sucesso, Alterado com sucess e  Removido com sucesso" */
padding:10px;
max-width:30%;
border:1px solid;
border-top-color:transparent;
border-left-color:transparent;
border-right:transparent;
border-bottom-color:#008ae6;
border-radius:5px;	
background-color:#ffffff;	
font-family:TW Cen MT Condensed;
font-size:23px;
color:#e60000;
text-align:center;	
}

#blue-link-return{ /* Links dentro do container "Cadastrado com sucesso, Alterado com sucesso e Removido com sucesso" */
font-family:TW Cen MT Condensed;
font-size:20px;
color:#008ae6;	
text-decoration:none;
transition: color ease 0.7s;
}

#blue-link-return:hover{ /* Links dentro do container "Cadastrado com sucesso" */
color:#666699;	
}

#blue-container-dados{ /* Container que traz a exibição dos dados dados cadastrados */
background-color:#ffffff;	
width:90%;
border-radius:10px;
}

.flip-card { /* Container Flip Card exibição de dados */
  background-color:transparent;
  border-radius:10px;
  perspective:1000px;
  width:250px;
  height:180px;
}

.flip-card-inner { /* Container Flip Card encapsulado*/
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top:0%;
  transition: transform 0.6s;
  transform-style: preserve-3d;

}

.flip-card:hover .flip-card-inner { /* Hover container fli-card e flip-card-inner */
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back { /* Frente e trás do flip card */
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius:10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front { /* Frente do flip card */
  background-color:transparent;
  border:2px solid #008ae6;
  color:#666699;
  font-size:13px;

}

.flip-card-back { /* Trás do flip card */
  background-color:#ffffff;		
  border:2px solid #008ae6;
  transform: rotateY(180deg);
  color:#666699;
  font-size:13px;
}

#blue-flip-card-date{
border:1px;	
border-left-color:transparent;
border-right-color:transparent;
border-top-color:transparent;
border-bottom-color:#008ae6;
outline:none;
color:#666699;	
text-align:center;
}

#blue-title-front-card{ /* Titulo dentro do flip card */
background-image:linear-gradient(to right, #008ae6, #008ae6, #008ae6,#0099ff,#0099ff,#1aa3ff,#1aa3ff);
color:#ffffff;
padding:5px;
font-size:18px;
font-family:Tw Cen MT Condensed;
}

#blue-optios-config-dados{ /* Botão de configurar o flip card*/
background-color:transparent;
border:2px solid #008ae6;
margin-top:3%;
cursor:pointer;	
color:#008ae6;
border-radius:10px;
font-size:16px;
font-family:TW Cen MT Condensed;
transition:color ease 0.7s; 
}

#blue-optios-config-dados:hover{  /* Botão de configurar o flip card*/
background-image:linear-gradient(to right, #008ae6, #008ae6, #008ae6,#0099ff,#0099ff,#1aa3ff,#1aa3ff);
color:#ffffff;	
}


form.example input[type=text] { /* Barra de pesquisa anexada na relação de dados */
padding: 5px;
font-size: 18px;
border: 1px solid #008ae6;
float: left;
width: 80%;
outline:none;
color:#666699;
background:transparent;
}

form.example button {  /* Barra de pesquisa anexada na relação de dados */
float: left;
width: 20%;
padding: 10px;
background:transparent;
color:#008ae6;
font-size: 17px;
border: 1px solid #008ae6;
border-left: none;
cursor: pointer;
transition:color ease 0.7s;
}

form.example button:hover {  /* Barra de pesquisa anexada na relação de dados */
background:#008ae6;
color:#ffffff;
border:1px solid #008ae6;
}

form.example::after {  /* Barra de pesquisa anexada na relação de dados */
content: "";
clear: both;
display: table;  
}

#blue-title-canvas{
font-size:18px;	
font-family:TW Cen MT Condensed;
color:#c2c2d6;		
text-align:center;
}

#blue-textarea{ /* Textarea dos formularios */
width: 100%;
height: 90px;
padding: 12px 20px;
box-sizing: border-box;
border:1px solid #666699;
border-radius: 4px;
background-color: transparent;
resize: none;
outline:none;
font-size:16px;
color:#666699;
}

#blue-textarea{ /* Textarea dos formularios */
width: 100%;
height: 250px;
padding: 12px 20px;
box-sizing: border-box;
border-radius: 4px;
background-color: transparent;
resize: none;
outline:none;
font-size:16px;
color:#666699;
}

#blue-textarea-one{
width: 100%;
height: 400px;
padding: 12px 20px;
box-sizing: border-box;
border-radius: 4px;
background-color: transparent;
resize: none;
outline:none;
text-align:justify;
font-size:14px;	
background-color:#ffcc99;
border:1px solid #666699;	
color:#666699;
}

#blue-textarea-two{
width: 100%;
height: 400px;
padding: 12px 20px;
box-sizing: border-box;
border-radius: 4px;
background-color: transparent;
resize: none;
outline:none;
font-size:14px;
text-align:justify;
border:1px solid #666699;	
background-color:#ffff99;
color:#666699;
}

#blue-textarea-three{
width: 100%;
height: 400px;
padding: 12px 20px;
box-sizing: border-box;
border-radius: 4px;
background-color: transparent;
resize: none;
outline:none;
font-size:14px;
color:#666699;	
text-align:justify;
border:1px solid #666699;	
background-color:#b3ffb3;
}

#blue-textarea-four{
width: 100%;
height: 400px;
padding: 12px 20px;
box-sizing: border-box;
border-radius: 4px;
background-color: transparent;
resize: none;
outline:none;
text-align:justify;
font-size:14px;
color:#666699;	
border:1px solid #666699;	
background-color:#f0b3ff;
}


#blue-title-sub{ /* Titulo da página de cadastro de planejamento */
text-align:left;	
font-size:16px;
font-family:TW Cen MT Condensed;
color:#666699;
}

#blue-text-config{ /* Texto referente a exibição dos dados do formulario de editar */
font-size:18px;	
font-weight:bold;
font-family:TW Cen MT Condensed;
color:#666699;
text-align:center;	
}

#blue-select{ /* Referente ao select dos formularios */
width:100%;
font-size:18px;
font-family:TW Cen MT Condensed;
color:#666699;
border:1px solid #666699;	
outline:none;
}